body{
    font-family: monospace;
    padding:40px;
    background: linear-gradient(130deg, #e8fff4, #c9f7e1);
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.kartica{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid #bde5d3;
    margin-bottom: 20px;
    /* Smooth/glatki prijelaz */
    transition: 0.25s;
}

.boja:hover{
    background-color: cadetblue;
}

.opacity:hover{
    opacity: 0.4;
}

.pomak:hover{
    transform: translateY(8px);
}

.scale:hover{
    transform: scale(1.10);
}

.kombinacija:hover{
    transform: translateY(-5px) scale(1.05);
    background-color: crimson;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: burlywood;
    font-size: 15px;
    transition: 0.25s;
    cursor: pointer;
}

button:hover{
    background-color: brown;
    transform: scale(1.01);
}

img{
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
    opacity: 0.85;
    margin-top: 20px;
}

img:hover{
    opacity:1;
    transform: scale(1.05);
}