body{
    padding: 32px;
    background:linear-gradient(150deg, #c9f7e1, #e8fff4);
    font-family: monospace;
    margin: 0;
    color: #16352a;
}

.okvir{
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    border: 5px;
    padding: 34px;
    box-shadow: 14px 20px rgba(206, 205, 205, 0.1);
}

h1{
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 10px;
    color: #1e6b4f
}

h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #145c43;
    letter-spacing: 1.75px;
}

.podnaslov{
    text-align: center;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.7;
    color: #2e5f4b;
}

.blok1{
    background-color: #e9fff5;
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin: 18px;
    color: #16352a;
    line-height: 1.75;
    box-shadow: #c8ffe8;
    font-size: 16px;
}

.blok2{
    font-size: 16px;
    background:linear-gradient(90deg, #7ee0b2, #c8ffe8);
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin: 18px;
    line-height: 1.75;
    color: #16352a;
    box-shadow: #c9f7e1;
}

.blok3{
    font-size: 16px;
    background-image:url("pozadina.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin: 18px;
    line-height: 1.75;
    color: #16352a;
    box-shadow: #c8ffe8;
}

.overlay{
    background: rgba(255,255,255,0.70);
    border-radius: 16px;
    padding: 18px;
    border: 5px;
}

.naglasak{
    color: #0b7a55;
    background-color: rgba(11,122,85,0.14);
    padding: 5px;
    text-decoration: dotted;
    border-radius: 8px;
    font-weight: 10px;

}